@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
}

:root {
  --tamanho-header: 80px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
}

.container {
  display: flex;
  width: 80%;
  margin: auto;
}

.header {
  height: var(--tamanho-header);
  background-color: rgb(2, 2, 67);
  border-bottom: 2px solid #32b9cd;
}

.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header a {
  text-decoration: none;
  color: #57f035;
}

.agora {
  font-weight: 800;
}

.navbar {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #57f035;
}

.titulo {
  color: #e7f734;
  width: fit-content;
  font-weight: 500;
}

.header h1 {
  margin: 0;
}

/* BANNER */

.banner {
  height: var(--tamanho-banner);
  color: white;
  background-image: url('../assets/imgs/RainbowRoadWorld.jpg');
  background-size: cover;
}

.banner .container {
  justify-content: center;
  align-items: center;
  height: 50%;
}

.banner .container p {
  width: 40%;
  margin: 0;
  padding: 0;
  font-size: 50px;
  color: lightblue;
}

.banner .container span {
  font-weight: 1000;
  color: orange;
}

#projeto {
  color: lightblue;
}

#mario1 {
  color: limegreen;
}

#kart1 {
  color: orange;
}

/* Linha do Tempo */

.social {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/imgs/MK8DRR.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  color: white;
}

.social .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#mario2 {
color: yellow;
}

#kart2 {
color: red;
}

.box {
  display: flex;
  justify-content: center;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 30px 0 30px;
  font-size: 1rem;
}

.title h2 {
font-size: 2.4rem;
}

.content{
  display: flex;
  justify-content: center;
  padding: 10px;
  padding: 0 30px 00 30px;
  font-size: 1.4rem;
}

#video1{
  max-width: 40%;
  justify-content: center;
  align-items: center;
}

.social .container .boxes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 95vw;
  padding: 30px 0;
}

.social p {
  text-align: center;
}

.box {
  display: flex;
  padding: 10px;
  flex-direction: row;
  align-items: center;
}

.merchands{
  justify-content: center;
  align-items: center;
}

#brinquedo1 img{
  width: 250px;
}

#brinquedo2 img{
  width: 350px;
}

#brinquedo3 img{
  width: 350px;
}

.box img{
  width: 200px;
}

.title img {
  width: 400px;
}

.box span{
  color: yellow;
  font-size: 2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#fotoModo1 img {
  width: 40vw;
}

#fotoModo2 img {
  width: 40vw;
}

/* FOOTER */

.footer {
  height: var(--tamanho-footer);
  background-color: rgb(2, 2, 67);
  border-top: 2px solid #32b9cd;
  height: 150px;
  color: #fff;
  display: flex;
  font-size: 15px;
}

.footer .container {
  justify-content: center;
  text-align: center;
}

.footer .container .version {
  font-size: 12px;
}

/* LOGIN */

.login {
  height: var(--tamanho-login);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) , url('../assets/imgs/MKLogo.png');
  background-size: cover;
  background-position: 0vh;
}

.login .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  width: 50%;
  background-color: #e5e5e5;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: palevioletred;
  flex-direction: column;
  height: fit-content;
  padding: 20px 0;
}

.card h2 {
  margin: 0;
  font-size: 30px;
}

.formulario {
  display: flex;
  height: 90%;
  width: 80%;
  justify-content: space-around;
  flex-direction: column;
}

.formulario span {
  font-size: 15px;
  font-weight: 800;
}

.formulario input {
  border: 2px solid #32b9cd;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.formulario select {
  border: 2px solid #32b9cd;
  background-color: white;
  color: gray;
  height: 36px;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 0;
}

.botao {
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background-color: #ED145B;
  width: 120px;
  height: 30px;
  align-self: center;
  margin-top: 20px;
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

/* FORMULARIO */

.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #ED145B 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid #32b9cd;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #ED145B;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* História */

.historia {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/imgs/MKWart.avif');
  background-size: cover;
  background-position: center;
  height: 225vh;
}

.historia .container {
  height: var(--tamanho-simulador);
  flex-direction: column;
}

.historia .container .jogo{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.container h1{
  font-size: 2.5rem;
}

.jogo img{
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  width: 200px;
}

.jogo span, p{
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 30px 0 30px;
  font-size: 1.4rem;
}

.dados{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  padding: 0 30px 0 30px;
  font-size: 1.2rem;
}

.dados span{
  font-weight: bold;
}

.dados p {
  padding: 0 30px 0 0;
}

#SMK{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/imgs/SMKfundo.jpg');
  background-size: cover;
  background-position: center;
}

#MK64 {
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/imgs/MK64fundo.jpg');
background-size: cover;
background-position: center;
}

#MKSC {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/imgs/MKSCfundo.jpg');
  background-size: cover;
  background-position: center;
}

#MKDD {
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/imgs/MKDDfundo.jpg');
background-size: cover;
background-position: center;
}

#MKDS {
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/imgs/MKDSfundo.png');
background-size: cover;
background-position: center;
}

#MKWii {
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/imgs/MKWiifundo.jpg');
background-size: cover;
background-position: center;
}

#MK7 {
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/imgs/MK7fundo.png');
background-size: cover;
background-position: center;
}

#MK8 {
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/imgs/MK8fundo.jpg');
background-size: cover;
background-position: center;
}

#MK8D {
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/imgs/MK8Dfundo.jpg');
background-size: cover;
background-position: center;
}

#MKT {
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/imgs/MKTfundo.jpg');
background-size: cover;
background-position: center;
}

#MKW {
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/imgs/MKWfundo.jpg');
background-size: cover;
background-position: center;
}

/*Simulador*/

.simulador {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/imgs/MKWart.avif');
  background-size: cover;
  background-position: center;
  height: 225vh;
}

.simulador .container {
  height: var(--tamanho-simulador);
  flex-direction: column;
}

.simulador .container .jogo{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.container h1{
  font-size: 2.5rem;
}

.jogo img{
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  width: 200px;
}

.jogo span, p{
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 30px 0 30px;
  font-size: 1.4rem;
}

.dados{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  padding: 0 30px 0 30px;
  font-size: 1.2rem;
}

.dados span{
  font-weight: bold;
}

.dados p {
  padding: 0 30px 0 0;
}

#SMK{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/imgs/SMKfundo.jpg');
  background-size: cover;
  background-position: center;
}

#MK64 {
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/imgs/MK64fundo.jpg');
background-size: cover;
background-position: center;
}

#MKSC {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/imgs/MKSCfundo.jpg');
  background-size: cover;
  background-position: center;
}

#MKDD {
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/imgs/MKDDfundo.jpg');
background-size: cover;
background-position: center;
}

#MKDS {
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/imgs/MKDSfundo.png');
background-size: cover;
background-position: center;
}

#MKWii {
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/imgs/MKWiifundo.jpg');
background-size: cover;
background-position: center;
}

#MK7 {
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/imgs/MK7fundo.png');
background-size: cover;
background-position: center;
}

#MK8 {
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/imgs/MK8fundo.jpg');
background-size: cover;
background-position: center;
}

#MK8D {
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/imgs/MK8Dfundo.jpg');
background-size: cover;
background-position: center;
}

#MKT {
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/imgs/MKTfundo.jpg');
background-size: cover;
background-position: center;
}

#MKW {
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/imgs/MKWfundo.jpg');
background-size: cover;
background-position: center;
}

/* ALERTA */

#alerta {
  position: absolute;
  right: 0;
  bottom: 0;
}

.mensagem-alarme {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  height: 80px;
  margin: 10px;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mensagem-alarme h3 {
  font-size: 14px;
  margin: 0;
}

.mensagem-alarme .informacao {
  width: 66%;
}

.alarme-sino {
  width: 48px;
  height: 48px;
  animation-name: bell;
  animation-duration: 4s;
  background-image: url('https://cdn-icons-png.flaticon.com/512/1157/1157000.png');
  background-size: cover;
  animation-iteration-count: infinite;
}

@keyframes bell {
  0%   {transform: rotate(25deg)}
  25%  {transform: rotate(-25deg)}
  50%  {transform: rotate(25deg)}
  75%  {transform: rotate(-25deg)}
  100% {transform: rotate(25deg)}
}